<div class="list-group">
    <a href="pedido.html" class="list-group-item list-group-item-action">
        <img src="../images/931949.png" alt="Pedidos" class="me-2"> Pedidos
    </a>
    <a href="estoque.html" class="list-group-item list-group-item-action">
        <img src="../images/706164.png" alt="Estoque" class="me-2"> Estoque
    </a>
    <a href="fornecedores.html" class="list-group-item list-group-item-action">
        <img src="../images/3321752.png" alt="Fornecedores" class="me-2"> Fornecedores
    </a>
    <a href="financeiro.html" class="list-group-item list-group-item-action">
        <img src="../images/639365.png" alt="Financeiro" class="me-2"> Financeiro
    </a>
    <a href="cardapio.html" class="list-group-item list-group-item-action">
        <img src="../images/1046747.png" alt="Cardápio" class="me-2"> Cardápio
    </a>
    <a href="clientes.html" class="list-group-item list-group-item-action">
        <img src="../images/4149882.png" alt="Clientes" class="me-2"> Clientes
    </a>
</div>
