# Arquivos gerados por build
[Oo]bj/
[Bb]in/
[Dd]ebug/
.vs/
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.csproj.CoreCompileInputs.cache
/GG.Infrastructure/obj/GG.Infrastructure.csproj.nuget.dgspec.json
/GG.Infrastructure/obj/project.assets.json
