################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GG/v17
/.vs
/.vs/GG/FileContentIndex
!GG.Api/
!src/
!tests/
/GG.Aplication/obj/Debug/net8.0/GG.Application.csproj.AssemblyReference.cache
/GG.Aplication/obj/Debug/net8.0/GG.Application.csproj.FileListAbsolute.txt
/GG.Aplication/obj/Debug/net8.0/GG.Application.pdb
/GG.Aplication/obj/Debug/net8.0/GG.Application.sourcelink.json
/GG.Aplication/obj/GG.Application.csproj.nuget.dgspec.json
/GG.Aplication/obj/GG.Application.csproj.nuget.g.props
/GG.Aplication/obj/GG.Application.csproj.nuget.g.targets
/GG.Aplication/obj/project.assets.json
/GG.Aplication/obj/project.nuget.cache
/GG.Aplication/obj/Debug/net8.0/GG.Application.AssemblyInfo.cs
/GG.Aplication/obj/Debug/net8.0/GG.Application.AssemblyInfoInputs.cache
/GG.Aplication/obj/Debug/net8.0/GG.Application.assets.cache
/GG.Aplication/bin/Debug/net8.0/GG.Application.dll
/GG.Aplication/bin/Debug/net8.0/GG.Application.pdb
/GG.Aplication/bin/Debug/net8.0/GG.Communication.dll
/GG.Aplication/bin/Debug/net8.0/GG.Communication.pdb
/GG.Aplication/bin/Debug/net8.0/GG.Domain.dll
/GG.Aplication/bin/Debug/net8.0/GG.Domain.pdb
/GG.Aplication/bin/Debug/net8.0/GG.Exception.dll
/GG.Aplication/bin/Debug/net8.0/GG.Exception.pdb
/GG.Aplication/obj/Debug/net8.0/ref/GG.Application.dll
/GG.Communication/bin/Debug/net8.0/GG.Communication.dll
/GG.Communication/bin/Debug/net8.0/GG.Communication.pdb
/GG.Communication/obj/Debug/net8.0/ref/GG.Communication.dll
/GG.Communication/obj/Debug/net8.0/GG.Communication.AssemblyInfo.cs
/GG.Communication/obj/Debug/net8.0/GG.Communication.AssemblyInfoInputs.cache
/GG.Communication/obj/Debug/net8.0/GG.Communication.csproj.FileListAbsolute.txt
/GG.Communication/obj/Debug/net8.0/GG.Communication.dll
/GG.Communication/obj/Debug/net8.0/GG.Communication.pdb
/GG.Communication/obj/Debug/net8.0/GG.Communication.sourcelink.json
/GG.Communication/obj/Debug/net8.0/refint/GG.Communication.dll
/GG.Comum.Tests/bin/Debug/net8.0/GG.Communication.dll
/GG.Comum.Tests/bin/Debug/net8.0/GG.Communication.pdb
/GG.Comum.Tests/bin/Debug/net8.0/GG.Comum.Tests.dll
/GG.Comum.Tests/bin/Debug/net8.0/GG.Comum.Tests.pdb
/GG.Comum.Tests/obj/Debug/net8.0/ref/GG.Comum.Tests.dll
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.AssemblyInfo.cs
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.AssemblyInfoInputs.cache
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.csproj.AssemblyReference.cache
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.csproj.FileListAbsolute.txt
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.dll
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.pdb
/GG.Comum.Tests/obj/Debug/net8.0/GG.Comum.Tests.sourcelink.json
/GG.Comum.Tests/obj/Debug/net8.0/refint/GG.Comum.Tests.dll
/GG.Domain/bin/Debug/net8.0/GG.Domain.dll
/GG.Domain/bin/Debug/net8.0/GG.Domain.pdb
/GG.Domain/obj/Debug/net8.0/ref/GG.Domain.dll
/GG.Domain/obj/Debug/net8.0/GG.Domain.AssemblyInfo.cs
/GG.Domain/obj/Debug/net8.0/GG.Domain.AssemblyInfoInputs.cache
/GG.Domain/obj/Debug/net8.0/GG.Domain.csproj.FileListAbsolute.txt
/GG.Domain/obj/Debug/net8.0/GG.Domain.dll
/GG.Domain/obj/Debug/net8.0/GG.Domain.pdb
/GG.Domain/obj/Debug/net8.0/GG.Domain.sourcelink.json
/GG.Domain/obj/Debug/net8.0/refint/GG.Domain.dll
/GG.Exception/bin/Debug/net8.0/GG.Exception.dll
/GG.Exception/bin/Debug/net8.0/GG.Exception.pdb
/GG.Infrastructure/obj/Debug/net8.0/GG.Infra.D16BB4FC.Up2Date
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.AssemblyInfo.cs
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.AssemblyInfoInputs.cache
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.csproj.AssemblyReference.cache
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.csproj.FileListAbsolute.txt
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.dll
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.pdb
/GG.Infrastructure/obj/Debug/net8.0/GG.Infrastructure.sourcelink.json
/GG.Infrastructure/obj/Debug/net8.0/refint/GG.Infrastructure.dll
/GG.Infrastructure/obj/Debug/net8.0/ref/GG.Infrastructure.dll
/GG.Infrastructure/bin/Debug/net8.0/GG.Domain.dll
/GG.Infrastructure/bin/Debug/net8.0/GG.Domain.pdb
/GG.Infrastructure/bin/Debug/net8.0/GG.Infrastructure.deps.json
/GG.Infrastructure/bin/Debug/net8.0/GG.Infrastructure.dll
/GG.Infrastructure/bin/Debug/net8.0/GG.Infrastructure.pdb
/GG.Exception/obj/Debug/net8.0/GG.Exception.AssemblyInfo.cs
/GG.Exception/obj/Debug/net8.0/GG.Exception.AssemblyInfoInputs.cache
/GG.Exception/obj/Debug/net8.0/GG.Exception.assets.cache
/GG.Exception/obj/Debug/net8.0/GG.Exception.csproj.AssemblyReference.cache
/GG.Exception/obj/Debug/net8.0/GG.Exception.csproj.FileListAbsolute.txt
/GG.Exception/obj/Debug/net8.0/GG.Exception.dll
/GG.Exception/obj/Debug/net8.0/GG.Exception.pdb
/GG.Exception/obj/Debug/net8.0/GG.Exception.sourcelink.json
/GG.Exception/obj/Debug/net8.0/refint/GG.Exception.dll
/GG.Exception/obj/GG.Exception.csproj.nuget.dgspec.json
/GG.Exception/obj/GG.Exception.csproj.nuget.g.props
/GG.Exception/obj/GG.Exception.csproj.nuget.g.targets
/GG.Exception/obj/project.assets.json
/GG.Exception/obj/project.nuget.cache
/GG.Exception/obj/Debug/net8.0/ref/GG.Exception.dll
/Validator.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Validator.Tests
/Validator.Tests/bin/Debug/net8.0/GG.Application.dll
/Validator.Tests/bin/Debug/net8.0/GG.Application.pdb
/Validator.Tests/bin/Debug/net8.0/GG.Communication.dll
/Validator.Tests/bin/Debug/net8.0/GG.Communication.pdb
/Validator.Tests/bin/Debug/net8.0/GG.Comum.Tests.dll
/Validator.Tests/bin/Debug/net8.0/GG.Comum.Tests.pdb
/Validator.Tests/bin/Debug/net8.0/GG.Domain.dll
/Validator.Tests/bin/Debug/net8.0/GG.Domain.pdb
/Validator.Tests/bin/Debug/net8.0/GG.Exception.dll
/Validator.Tests/bin/Debug/net8.0/GG.Exception.pdb
/Validator.Tests/bin/Debug/net8.0/Validator.Tests.dll
/Validator.Tests/bin/Debug/net8.0/Validator.Tests.pdb
/Validator.Tests/obj/Debug/net8.0/ref/Validator.Tests.dll
/Validator.Tests/obj/Debug/net8.0/refint/Validator.Tests.dll
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.AssemblyInfo.cs
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.AssemblyInfoInputs.cache
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.assets.cache
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.csproj.AssemblyReference.cache
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.csproj.FileListAbsolute.txt
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.dll
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.pdb
/Validator.Tests/obj/Debug/net8.0/Validator.Tests.sourcelink.json
/Validator.Tests/obj/project.assets.json
/Validator.Tests/obj/project.nuget.cache
/Validator.Tests/obj/Validator.Tests.csproj.nuget.dgspec.json
/Validator.Tests/obj/Validator.Tests.csproj.nuget.g.props
/Validator.Tests/obj/Validator.Tests.csproj.nuget.g.targets
.vs/GG/DesignTimeBuild/.dtbcache.v2
.vs/GG/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/gg.metadata.v8.bin
.vs/ProjectEvaluation/gg.projects.v8.bin
.vs/ProjectEvaluation/gg.strings.v8.bin
angular.client/obj/Debug/angular.client.esproj.FileListAbsolute.txt
Angular.Server/bin/Debug/net8.0/Angular.Server.deps.json
Angular.Server/bin/Debug/net8.0/Angular.Server.dll
Angular.Server/bin/Debug/net8.0/Angular.Server.exe
Angular.Server/bin/Debug/net8.0/Angular.Server.pdb
Angular.Server/bin/Debug/net8.0/Microsoft.AspNetCore.SpaProxy.dll
Angular.Server/bin/Debug/net8.0/spa.proxy.json
.vs/GG/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/gg.metadata.v8.bin
.vs/ProjectEvaluation/gg.projects.v8.bin
.vs/ProjectEvaluation/gg.strings.v8.bin
angular.client/obj/Debug/angular.client.esproj.FileListAbsolute.txt
Angular.Server/bin/Debug/net8.0/Angular.Server.deps.json
Angular.Server/bin/Debug/net8.0/Angular.Server.dll
Angular.Server/bin/Debug/net8.0/Angular.Server.exe
Angular.Server/bin/Debug/net8.0/Angular.Server.pdb
Angular.Server/bin/Debug/net8.0/Microsoft.AspNetCore.SpaProxy.dll
Angular.Server/bin/Debug/net8.0/spa.proxy.json
.vs/GG/DesignTimeBuild/.dtbcache.v2
/.vs
/.vs/GG/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/gg.metadata.v8.bin
/.vs/ProjectEvaluation/gg.projects.v8.bin
/.vs/ProjectEvaluation/gg.strings.v8.bin
/GG.Api/bin/Debug
/GG.Api/obj
/GG.Aplication/bin
/GG.Aplication/obj
/GG.Communication/bin
/GG.Communication/obj
/GG.Comum.Tests/bin/Debug
/GG.Comum.Tests/obj
/GG.Validator.Tests/bin
/GG.Validator.Tests/obj
/GG.Aplication/bin/Debug/net8.0/GG.Infrastructure.dll
/GG.Aplication/bin/Debug/net8.0/GG.Infrastructure.pdb
/GG.Exception/bin/Debug/net8.0/GG.Communication.dll
/GG.Exception/bin/Debug/net8.0/GG.Communication.pdb
/GG.Exception/bin/Debug/net8.0/GG.Domain.dll
/GG.Exception/bin/Debug/net8.0/GG.Domain.pdb
/GG.Exception/bin/Debug/net8.0/GG.Infrastructure.dll
/GG.Exception/bin/Debug/net8.0/GG.Infrastructure.pdb
/Validator.Tests/bin/Debug/net8.0/GG.Infrastructure.dll
/Validator.Tests/bin/Debug/net8.0/GG.Infrastructure.pdb
/GG.Aplication/obj/Debug/net8.0/GG.Application.dll
/GG.Aplication/obj/Debug/net8.0/refint/GG.Application.dll
