<div class="sidenav-header">
        <img [width]="prifilePicSize()" [height]="prifilePicSize()" src="img/perfil.png">
        <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
            <h2 style="color: white;">
                Your  name
            </h2>
            <p style="color: white;">username</p>
        </div>
</div>
<mat-nav-list>
        <a mat-list-item *ngFor="let item of menuItems()" 
        [routerLink]="item.route"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        style="padding-left: 4px;"
        >
            <mat-icon matListItemIcon style="color: white;">
                {{item.icon}}
            </mat-icon>
            <span matListItemTitle *ngIf="!sideNavCollapsed()" style="color: white;">{{item.label}}</span>
        </a>
</mat-nav-list>